<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842685485343-kfm8r5amgvrkdh2akiddpqkvagbl549f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842685485343-kfm8r5amgvrkdh2akiddpqkvagbl549f</string>
	<key>API_KEY</key>
	<string>AIzaSyA8YNOfITJw9CQ-NjwuFvWxqKl8TT3yHck</string>
	<key>GCM_SENDER_ID</key>
	<string>842685485343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.io.flutterDemo</string>
	<key>PROJECT_ID</key>
	<string>flutter-7eab7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-7eab7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842685485343:ios:038f4d4e8c4fbf469c602a</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-7eab7.firebaseio.com</string>
</dict>
</plist>